body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
#loader {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader img {
    border-radius: 50%;
}
.developer-box img{
  height: 200px;
  width: 200px;  
}

nav img{
  height: 100px;
  width: 100px;
}
nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

nav h3 {
    display: none;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em 0;
}

.team-section {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.developer-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.developer-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.developer-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.developer-box h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.developer-box p {
    color: #666;
    font-size: 0.9em;
}

.developer-box:hover {
    transform: scale(1.05);
}
